.handle {
    margin-top: 15px;
}

.handle {
    display: flex;
    justify-content: space-around;
}

.selectUser {
    position: relative;

    .required {
        color: red;
        position: absolute;
        right: -10px;
        top: 0;
    }
}

.searchBar {
    margin: 18px 0;

    .searchInput {
        width: 200px;
    }
}