* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media print {
  div.img {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  .content {
    padding: 0 15px;
    max-width: 70%;

    h1 {
      text-align: center;
      font-size: 14px;
    }

    .date {
      text-align: right;
      font-weight: bold;
    }

    .row {
      display: flex;
      margin-bottom: 3px;

      .left {
        flex: 1;
      }

      .right {
        text-align: right;
        flex: 0.7;
        font-weight: bold;
      }
    }
  }

  .table {

    * {
      font-weight: bold !important;
    }

    th.th-text-center {
      text-align: center;
    }

    td.cell-text-right {
      text-align: right;
    }

    td.cell-text-center {
      text-align: center;
    }
  }

  .textPay,
  .forCompany {
    font-weight: bold;
    font-style: italic;
  }

  .forCompany {
    text-align: right;
    font-style: normal;
  }
}